# Ignore artifacts
node_modules
coverage
dist
build
vite-env.d.ts
setupTests.ts
tsconfig.app.json
tsconfig.json
tsconfig.node.json
vite.config.ts
package-lock.json
package.json
eslint.config.js
.prettierrc
README.md
.eslintignore